.t_box{
    background-color: #fff;
    width: 97%;
    margin: 20px auto;
    padding: 0px 0px 10px;
}
.t_box .box_tit{
    border-color: #e7eaec;
    border-style: solid solid solid;
    border-width: 4px 0 1px;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.t_box .box_table{
    margin: 20px 30px; 
}
thead tr th{
    color: #676a6c;
}
tbody tr td{
    color: #676a6c;
}