html {
    overflow-y: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
a:active, a:hover {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}
ul li{
    list-style-type: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*header*/

    /*aside nav*/
.aside_nav {
    width: 210px;
    height: 100%;
    position: absolute;
    top: 0px;
    background: #2F4050;
    transition: all 0.5s;
    left: 0px;
}
.aside_nav .nav-tit {
    text-align: center;
    border-bottom: 1px #b6b6b6 solid;
    margin: 0;
    height: 150px;
    background-color: #233645;
}

.aside_nav .nav-tit span {
    color: #fff;
    font-family:宋体;
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #67c18f;
    border-radius:100%; 
    text-align: center;
}
.aside_nav ul{
    padding:0px ;
    position: relative;
}
.aside_nav ul li {
	
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    position: relative;
    
}
.aside_nav ul .active a{
    color: #fff;
    background-color: #293846;
}
.aside_nav ul li a {

    color: #a7b1c2;
    font-weight: 600;
    padding: 0 25px;
    font-size: 13px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.aside_nav ul li a img{
    width: 21px;
    margin-right: 5px;
}

.aside_nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #293846;
}

.wrap {
	/* transition: all 0.5s; */
    margin-left: 210px;
    padding-bottom: 30px;
    height:720px;
    position: relative;
    z-index:1;

}

.tables{
   margin: 20px;
   width: 100%;
   height: calc(100% - 70px);
   background-color:#F3F3F4;
   overflow-y:auto;
   overflow-x: hidden 
}
.tables p{
    height: 100px;
}
.tables::-webkit-scrollbar
{
    width: 4px;
    background-color: #313130;
}
 
/*定义滚动条轨道 内阴影+圆角*/
.tables::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}
 
/*定义滑块*/
.tables::-webkit-scrollbar-thumb
{
    border-right:4px solid #999999;

}
.header {
    background: #F3F3F4;
    height: 60px;
    border-bottom: 1px solid #e7eaec!important;
    width: 100%;
}
input{
    outline: none;
    border:none;
}
.header .rt_nav {
    float: right;
    overflow: hidden;
    margin-right: 3%;
    margin-top: 0px;
}

.header .rt_nav li {
    float: left;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}
.header .rt_nav li .nav_img{
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    border-radius: 100%;
}
.header .rt_nav li .quit_icon{
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
}

.header .rt_nav li .quit_icon img{
    width: 20px;
    height: 20px;
}
.header .rt_nav li .quit_icon span{
    color:#707070; 
    margin-left: 10px;
    font-size: 13px;
}